@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
* :root {
  --font-family: "Inter", sans-serif;
  --second-family: "Londrina Solid", sans-serif;
}

.container {
  width: 1728px;
  padding: 0 150px;
  margin: 0 auto;
}

body {
  font-family: "Inter", sans-serif;
  background: #000;
}

header nav {
  height: 956px;
  background-image: url(../../images/bg-intro.jpg);
}
header nav .header_wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
header nav .header_wrapper div {
  z-index: 9;
  display: flex;
  align-items: center;
  gap: 30px;
}
header nav .header_wrapper div div {
  height: 37px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid black;
  padding: 3px 10px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}
header nav .header_wrapper div div img {
  width: 26px;
  height: 23px;
}
header nav .header_wrapper div div select {
  width: 80px;
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
}
header nav .header_wrapper div div select option {
  color: black;
}
header nav .header_wrapper div button {
  width: 73px;
  height: 37px;
  background: #E50914;
  color: white;
  cursor: pointer;
  border: none;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 13px;
  backdrop-filter: blur(4px);
  font-family: var(--font-family);
}
header nav .header-intro-wrap {
  text-align: center;
  margin-top: 200px;
}
header nav .header-intro-wrap h2 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 50px;
  color: #ffffff;
}
header nav .header-intro-wrap p:nth-child(3) {
  margin-top: 30px;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  color: #fff;
  margin-bottom: 50px;
}
header nav .header-intro-wrap p:nth-child(4) {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 17px;
  margin-bottom: 30px;
  color: #fff;
}
header nav .header-intro-wrap form {
  display: flex;
  justify-content: center;
  gap: 10px;
}
header nav .header-intro-wrap form label input {
  border: 1px solid #12864e;
  border-radius: 4px;
  width: 392px;
  height: 48px;
  padding: 0 15px;
  border: none;
  background: rgba(0, 0, 0, 0.64);
  color: white;
}
header nav .header-intro-wrap form button {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  width: 162px;
  height: 48px;
  background: #e50914;
  color: white;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  cursor: pointer;
}

.bg-blur {
  position: absolute;
  top: 0;
  left: -150px;
}

.enjoy-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 708px;
}
.enjoy-wrapper .enjoy-left h3 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 50px;
  color: #fff;
  margin-bottom: 12px;
}
.enjoy-wrapper .enjoy-left p {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 25px;
  color: #fff;
}
.enjoy-wrapper .enjoy-right {
  position: relative;
}
.enjoy-wrapper .enjoy-right img:last-child {
  z-index: -5;
  position: absolute;
  top: 95px;
  right: 100px;
}

#enjoy {
  border-bottom: 10px solid rgba(255, 255, 255, 0.504);
}

.download-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 708px;
}
.download-wrapper .download-right {
  width: 601px;
}
.download-wrapper .download-right h3 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 50px;
  color: #fff;
  margin-bottom: 12px;
}
.download-wrapper .download-right p {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 25px;
  color: #fff;
}

#download {
  border-bottom: 10px solid rgba(255, 255, 255, 0.504);
}

.everwhere-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 700px;
}
.everwhere-wrapper .ever-left {
  width: 597px;
}
.everwhere-wrapper .ever-left h3 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 50px;
  color: #fff;
}
.everwhere-wrapper .ever-left p {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 25px;
  color: #fff;
}
.everwhere-wrapper .ever-right {
  position: relative;
}
.everwhere-wrapper .ever-right img:last-child {
  z-index: -5;
  position: absolute;
  top: 60px;
  left: 130px;
}

#everwhere {
  border-bottom: 10px solid rgba(255, 255, 255, 0.504);
}

.kids-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 700px;
}
.kids-wrapper .kids-right {
  width: 647px;
}
.kids-wrapper .kids-right h3 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 50px;
  color: #fff;
  margin-bottom: 20px;
}
.kids-wrapper .kids-right p {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 25px;
  color: #fff;
}

#forkids {
  border-bottom: 10px solid rgba(255, 255, 255, 0.504);
}

.quession-wrapper h2 {
  margin-top: 40px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 50px;
  color: #fff;
  margin-bottom: 65px;
}
.quession-wrapper .quession1 {
  margin-bottom: 20px;
}
.quession-wrapper .quession1 div:first-child {
  padding: 15px 30px;
  background: #696969;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quession-wrapper .quession1 div:first-child p {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 30px;
  color: #fff;
}
.quession-wrapper .quession1 div:first-child button {
  cursor: pointer;
  border: none;
  background: transparent;
}
.quession-wrapper h4 {
  margin-top: 70px;
  margin-bottom: 50px;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 30px;
  color: #fff;
  backdrop-filter: blur(4px);
  text-align: center;
}
.quession-wrapper form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 130px;
}
.quession-wrapper form label input {
  border: 1px solid #12864e;
  border-radius: 4px;
  width: 392px;
  height: 48px;
  padding: 0 15px;
  border: none;
  background: #6a6868;
  color: white;
}
.quession-wrapper form button {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  width: 162px;
  height: 48px;
  background: #e50914;
  color: white;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  cursor: pointer;
}

#quession {
  border-bottom: 10px solid rgba(255, 255, 255, 0.504);
}

.foter-language {
  margin-bottom: 50px;
  border: 1px solid white;
  height: 37px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 3px 10px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  width: 120px;
}
.foter-language img {
  width: 26px;
  height: 23px;
}
.foter-language select {
  width: 80px;
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
}
.foter-language select option {
  color: black;
}

footer .container p {
  margin-top: 70px;
  margin-bottom: 30px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}
footer .container .foter-wraper {
  padding-right: 280px;
  display: flex;
  justify-content: space-between;
}
footer .container .foter-wraper ul {
  line-height: 3;
}
footer .container .foter-wraper ul li a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 19px;
  text-decoration: underline;
  color: #fff;
}
footer .container span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 19px;
  color: #fff;
}

#singin {
  position: absolute;
  top: -900px;
  left: 450px;
  width: 100%;
}
#singin .container .singin {
  background: rgba(0, 0, 0, 0.7333333333);
  width: 594px;
  height: 684px;
  padding: 60px;
}
#singin .container .singin h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 50px;
  color: #fff;
  margin-bottom: 10px;
}
#singin .container .singin form {
  position: relative;
}
#singin .container .singin form label {
  background: #fff;
  border-radius: 5px;
}
#singin .container .singin form label p {
  padding-top: 5px;
  padding-left: 10px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  color: #000;
  background: #fff;
}
#singin .container .singin form label input {
  padding: 10px;
  width: 100%;
  border: none;
  margin-bottom: 25px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: #000;
}
#singin .container .singin form label:nth-child(2) input {
  width: 90%;
}
#singin .container .singin form button {
  display: block;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  background: #e50914;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 15px;
}
#singin .container .singin form span {
  z-index: 5;
  width: 80px;
  height: 70px;
  background: rgba(110, 110, 110, 0.996);
  cursor: pointer;
  font-size: 58px;
  position: absolute;
  top: 91px;
  right: 0;
  padding-left: 10px;
  padding-top: 5px;
}
#singin .container .singin .checkbox {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#singin .container .singin .checkbox div {
  display: flex;
  gap: 10px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  color: #6a6868;
  align-items: center;
}
#singin .container .singin .checkbox div input {
  background: rgba(0, 0, 0, 0.6549019608);
  width: 25px;
  height: 25px;
}
#singin .container .singin .checkbox a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  color: #6a6868;
}
#singin .container .singin p:nth-child(4) {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 25px;
  color: #6a6868;
  margin-bottom: 20px;
}
#singin .container .singin p:nth-child(4) span:last-child {
  color: white;
}
#singin .container .singin p:nth-child(5) {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: #6a6868;
}
#singin .container .singin p:nth-child(5) a {
  color: blue;
}

#header {
  height: 200px;
  padding: 35px;
}
#header nav .home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header nav .home-header .home-head-left {
  display: flex;
  align-items: center;
  gap: 30px;
}
#header nav .home-header .home-head-left ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
#header nav .home-header .home-head-left ul li a {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  color: #fff;
}
#header nav .home-header .home-head-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
#header nav .home-header .home-head-right img {
  cursor: pointer;
}

#listkino .container .kinolist-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
#listkino .container .kinolist-wrapper .card-kino {
  width: 340px;
  height: 222px;
  color: white;
  position: relative;
  margin-bottom: 35px;
}
#listkino .container .kinolist-wrapper .card-kino img {
  width: 340px;
  height: 192px;
  object-fit: cover;
  cursor: pointer;
}
#listkino .container .kinolist-wrapper .card-kino h1 {
  position: absolute;
  top: -40px;
  width: 400px;
}

#addvideo .container h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 33px;
  color: #fff;
  margin-bottom: 30px;
}
#addvideo .container form {
  display: none;
}
#addvideo .container form label input {
  padding: 20px;
  font-size: 20px;
  border-radius: 4px;
  font-family: var(--font-family);
}
#addvideo .container form button {
  height: 65px;
}
#addvideo .container #yourvideos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 19px;
  margin-bottom: 25px;
}
#addvideo .container #yourvideos .myv {
  width: 340px;
  height: 222px;
  color: white;
  margin-bottom: 25px;
}
#addvideo .container #yourvideos .myv h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 23px;
  color: #fff;
}
#addvideo .container #yourvideos .myv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
#addvideo .container button {
  margin-right: 10px;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  width: 162px;
  height: 48px;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  color: #fff;
  background: #e50914;
  cursor: pointer;
  margin-bottom: 10px;
}/*# sourceMappingURL=style.css.map */