.everwhere-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;

    .ever-left{
        width: 597px;
        h3{
            font-family: var(--font-family);
            font-weight: 800;
            font-size: 50px;
            color: #fff;
        }

        p{
            font-family: var(--font-family);
            font-weight: 800;
            font-size: 25px;
            color: #fff;
        }
    }

    .ever-right{
        position: relative;
        img:last-child{
            z-index: -5;
            position: absolute;
            top: 60px;
            left: 130px;
        }
    }
}

#everwhere{
    border-bottom: 10px solid rgba(255, 255, 255, 0.504);
}