header{
    nav{
        height: 956px;
        background-image: url(../../images/bg-intro.jpg);
        .header_wrapper{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;

            div{
                z-index: 9;
                display: flex;
                align-items: center;
                gap: 30px;

                div{
                    height: 37px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    border: 1px solid black;
                    padding: 3px 10px;
                    background: rgba(0, 0, 0, 0.4);
                    border-radius: 3px;

                    img{
                        width: 26px;
                        height: 23px;
                    }

                    select{
                        width: 80px;
                        border: none;
                        background: transparent;
                        color: white;
                        cursor: pointer;
                        option{
                            color: black;
                        }
                    }
                }

                button{
                    width: 73px;
                    height: 37px;
                    background: #E50914;
                    color: white;
                    cursor: pointer;
                    border: none;
                    font-family: var(--font-family);
                    font-weight: 800;
                    font-size: 13px;
                    backdrop-filter: blur(4px);
                    font-family: var(--font-family);
                }
            }
        }

        .header-intro-wrap{
            text-align: center;
            margin-top: 200px;
            h2{
                font-family: var(--font-family);
                font-weight: 800;
                font-size: 50px;
                color: #ffffff;
            }

            p:nth-child(3){
                margin-top: 30px;
                font-family: var(--font-family);
                font-weight: 800;
                font-size: 24px;
                color: #fff;
                margin-bottom: 50px;
            }

            p:nth-child(4){
                font-family: var(--font-family);
                font-weight: 800;
                font-size: 17px;
                margin-bottom: 30px;
                color: #fff;
            }
            
            form{
                display: flex;
                justify-content: center;
                gap: 10px;

                label{
                    input{
                        border: 1px solid #12864e;
                        border-radius: 4px;
                        width: 392px;
                        height: 48px;
                        padding: 0 15px;
                        border: none;
                        background: rgba(0, 0, 0, 0.64);
                        color: white;
                    }
                }

                button{
                    border: 1px solid rgba(0, 0, 0, 0);
                    border-radius: 4px;
                    width: 162px;
                    height: 48px;
                    background: #e50914;
                    color: white;
                    font-family: var(--font-family);
                    font-weight: 800;
                    font-size: 18px;
                    cursor: pointer;
                }
            }
        }
    }
}

.bg-blur{
    position: absolute;
    top: 0;
    left: -150px;
}


